<a href="https://colab.research.google.com/github/Krishna-123/API.AI/blob/master/Spark_dataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz

!tar xzf spark-3.2.1-bin-hadoop3.2.tgz

import os
os.environ["JAVA_HOME"] = '/usr/lib/jvm/java-11-openjdk-amd64'
os.environ["SPARK_HOME"] = '/content/spark-3.2.1-bin-hadoop3.2'

! pip install findspark

import findspark as fs
fs.init()

!echo "$SPARK_HOME"

# creating configuration and context, context in the entry point and configuration are the basic configurations we need to provide
from pyspark import SparkConf, SparkContext

conf = SparkConf().setAppName("Read File")
sc = SparkContext.getOrCreate(conf)

--2022-06-09 04:56:26--  https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
Resolving dlcdn.apache.org (dlcdn.apache.org)... 151.101.2.132, 2a04:4e42::644
Connecting to dlcdn.apache.org (dlcdn.apache.org)|151.101.2.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 300971569 (287M) [application/x-gzip]
Saving to: ‘spark-3.2.1-bin-hadoop3.2.tgz’

spark-3.2.1-bin-had 100%[===================>] 287.03M   245MB/s    in 1.2s

2022-06-09 04:56:27 (245 MB/s) - ‘spark-3.2.1-bin-hadoop3.2.tgz’ saved [300971569/300971569]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1
/content/spark-3.2.1-bin-hadoop3.2

In [2]:
# spark Dataframe works with Spark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark DataFrame").getOrCreate()

In [ ]:
student_df = spark.read.csv("./StudentData.csv")

In [ ]:
student_df.show(10) # similar to collect
# curently we are not reading the headers
# we can do so using options("headers", true)

+---+------+----------------+------+-----+-----+--------------------+
|_c0|   _c1|             _c2|   _c3|  _c4|  _c5|                 _c6|
+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
| 28|Female| Hubert Oliveras|    DB|02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 10 rows

In [ ]:
# this will show the data based on headers

student_df = spark.read.option("header", True).csv("StudentData.csv")
student_df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [ ]:
student_df.printSchema() 
# will print the Schema of DF

root
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: string (nullable = true)
 |-- email: string (nullable = true)

In [ ]:
student_df1 = spark.read.options(header=True, inferSchema=True).csv('./StudentData.csv')

In [ ]:
student_df1.printSchema() 
# this is power of spark it automatically determine the type of fields

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [ ]:
# provide our own schema
# first create schema
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([
                     StructField('age', IntegerType(), True),
                     StructField('gender', StringType(), True),
                     StructField('name', StringType(), True),
                     StructField('course', StringType(), True),
                     StructField('roll', StringType(), True),
                     StructField('marks', IntegerType(), True),
                     StructField('email', StringType(), True),
])

In [ ]:
student_df_ownSchema = spark.read.options(header=True, delimeter=',').schema(schema).csv('./StudentData.csv')
student_df_ownSchema.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

### RDD to DF

In [ ]:
student_rdd = sc.textFile("./StudentData.csv")
header = student_rdd.first()

student_rdd.collect()[:10]


student_rdd_new = student_rdd.map(lambda x: x.split(","))
# student_rdd_new.collect()[:10]

In [ ]:
student_df = student_rdd_new.toDF()
student_df.show(10)
# here we can convert it but it has the header part which is string so it would be able to identify them correctly.
# Need to remove the header first 

student_rdd = student_rdd.filter(lambda x: x!=header)
student_rdd_new = student_rdd.map(lambda x: x.split(","))


student_df = student_rdd_new.toDF(header.split(",")) # passing headers in the parameter
student_df.show(10)

+---+------+----------------+-----+-----+---+--------------------+
| _1|    _2|              _3|   _4|   _5| _6|                  _7|
+---+------+----------------+-----+-----+---+--------------------+
| 28|Female| Hubert Oliveras|   DB|02984| 59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard|Cloud|12899| 62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|   PF|21267| 45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|   DB|32877| 29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|  DSA|41487| 41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|  MVC|52771| 32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|  OOP|61973| 69|Alberta Freund_El...|
| 28|Female|    Claude Panos|Cloud|72409| 85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|  MVC|81492| 64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|  OOP|92882| 51|Judie Chipps_Clem...|
+---+------+----------------+-----+-----+---+--------------------+
only showing top 10 rows

+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
+---+------+----------------+------+-----+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP|92882|   51|Judie Chipps_Clem...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 10 rows

In [ ]:
student_df.printSchema()

root
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: string (nullable = true)
 |-- email: string (nullable = true)

In [ ]:
# using createDataFrame() to pass own schema
df_rdd=  spark.createDataFrame(student_rdd_new, schema=schema)

In [ ]:
df_rdd.printSchema()
# but df_rdd.show() will throw error values are in string

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [ ]:
student_rdd_new.collect()[:2]

[['28',
  'Female',
  'Hubert Oliveras',
  'DB',
  '02984',
  '59',
  'Annika Hoffman_Naoma Fritts@OOP.com'],
 ['29',
  'Female',
  'Toshiko Hillyard',
  'Cloud',
  '12899',
  '62',
  'Margene Moores_Marylee Capasso@DB.com']]

In [ ]:
student_rdd_new.map(lambda x: [int(x[0]),x[1],x[2],x[3],x[4],int(x[5]),x[6] ]).collect()[:10]

In [ ]:
# converting the values of RDD to integer then pass it as RDD alone with schema
df_rdd1 = spark.createDataFrame(student_rdd_new.map(lambda x: [int(x[0]),x[1],x[2],x[3],x[4],int(x[5]),x[6] ]), schema)

In [ ]:
df_rdd1.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [ ]:
df_rdd1.show(10) # now it will work as we converted the values to int

+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
+---+------+----------------+------+-----+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP|92882|   51|Judie Chipps_Clem...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 10 rows

### DF Select Columns

In [ ]:
student_df1.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [ ]:
student_df1.show(10)

+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
+---+------+----------------+------+-----+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP|92882|   51|Judie Chipps_Clem...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 10 rows

In [ ]:
student_df1.select("age", "gender").show(3)

student_df1.select(student_df1.age).show(3)

+---+------+
|age|gender|
+---+------+
| 28|Female|
| 29|Female|
| 28|  Male|
+---+------+
only showing top 3 rows

+---+
|age|
+---+
| 28|
| 29|
| 28|
+---+
only showing top 3 rows

In [ ]:
print(student_df1.columns) # list of columns

student_df1.select(student_df1.columns).show(3)

# can also do the slicing over column list
student_df1.select(student_df1.columns[:3]).show(3) # will only return the first 3 column 

# to get all the columns
student_df1.show(3)
student_df1.select("*").show(3)

['age', 'gender', 'name', 'course', 'roll', 'marks', 'email']
+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
+---+------+----------------+------+-----+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 3 rows

+---+------+----------------+
|age|gender|            name|
+---+------+----------------+
| 28|Female| Hubert Oliveras|
| 29|Female|Toshiko Hillyard|
| 28|  Male|  Celeste Lollis|
+---+------+----------------+
only showing top 3 rows

+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
+---+------+----------------+------+-----+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 3 rows

+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
+---+------+----------------+------+-----+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 3 rows

In [ ]:
#  withColumn -- to modify the types of column in dataframe

student_df1.printSchema() # let's convert roll to string

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [ ]:
# withColmn allow to operate on the existing column into the df, we can add new col or even replace the existing one
student_df1.withColumn('roll_string', col=student_df1.roll.cast('string')).show(4)
student_df1.withColumn('roll_string', col=student_df1.roll.cast('string')).printSchema() # return the new column with String type

+---+------+----------------+------+-----+-----+--------------------+-----------+
|age|gender|            name|course| roll|marks|               email|roll_string|
+---+------+----------------+------+-----+-----+--------------------+-----------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|       2984|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|      12899|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|      21267|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|      32877|
+---+------+----------------+------+-----+-----+--------------------+-----------+
only showing top 4 rows

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)
 |-- roll_string: string (nullable = true)

In [ ]:
#  to manipulate the df we need to use withColumn
# example add 20 in the marks column
student_df1.withColumn('updatedMarks', col=student_df1.marks + 20).show(10)

+---+------+----------------+------+-----+-----+--------------------+------------+
|age|gender|            name|course| roll|marks|               email|updatedMarks|
+---+------+----------------+------+-----+-----+--------------------+------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|          79|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|          82|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|          65|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|          49|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|          61|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|          52|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|          89|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...|         105|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|          84|
| 29|  Male|  Cordie Harnois|   OOP|92882|   51|Judie Chipps_Clem...|          71|
+---+------+----------------+------+-----+-----+--------------------+------------+
only showing top 10 rows

In [ ]:
#  to add literal into a new column

from pyspark.sql.functions import lit
student_df1.withColumn("country", lit("UAS")).show(10)

+---+------+----------------+------+-----+-----+--------------------+-------+
|age|gender|            name|course| roll|marks|               email|country|
+---+------+----------------+------+-----+-----+--------------------+-------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|    UAS|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|    UAS|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|    UAS|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|    UAS|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|    UAS|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|    UAS|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|    UAS|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...|    UAS|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|    UAS|
| 29|  Male|  Cordie Harnois|   OOP|92882|   51|Judie Chipps_Clem...|    UAS|
+---+------+----------------+------+-----+-----+--------------------+-------+
only showing top 10 rows

In [ ]:
student_df1.select(student_df1.name.alias('full name')).show(10)

+----------------+
|       full name|
+----------------+
| Hubert Oliveras|
|Toshiko Hillyard|
|  Celeste Lollis|
|    Elenore Choy|
|  Sheryll Towler|
|  Margene Moores|
|     Neda Briski|
|    Claude Panos|
|  Celeste Lollis|
|  Cordie Harnois|
+----------------+
only showing top 10 rows

In [ ]:
# filtering the DataFrame

student_df1.filter((student_df1.course =='DSA') & (student_df1.marks >50) ).show(10)

# to pass the multiple values using isin
student_df1.filter((student_df1.course.isin(['DSA', 'Cloud']))).show(5)

+---+------+--------------+------+------+-----+--------------------+
|age|gender|          name|course|  roll|marks|               email|
+---+------+--------------+------+------+-----+--------------------+
| 28|Female|  Jc Andrepont|   DSA|232060|   58|Billi Clore_Abram...|
| 29|Female|  Paris Hutton|   DSA|271472|   99|Sheryll Towler_Al...|
| 28|Female|Dustin Feagins|   DSA|291984|   82|Abram Nagao_Kena ...|
| 29|Female|  Paris Hutton|   DSA|492159|   60|Nicole Harwood_Ma...|
| 29|  Male|Celeste Lollis|   DSA|562065|   85|Jc Andrepont_Mela...|
| 29|  Male|Maybell Duguay|   DSA|592061|   83|Eda Neathery_Jenn...|
| 28|Female|Celeste Lollis|   DSA|731879|   76|Hubert Oliveras_G...|
| 28|  Male|Sheryll Towler|   DSA|831562|   59|Kena Wild_Gonzalo...|
| 28|Female|Sheryll Towler|   DSA|871967|   64|Michelle Ruggiero...|
| 28|  Male|Margene Moores|   DSA|892010|   93|Anna Santos_Naoma...|
+---+------+--------------+------+------+-----+--------------------+
only showing top 10 rows

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 28|Female|       Kena Wild| Cloud|221750|   60|Mitzi Seldon_Jenn...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 5 rows

### Quiz

In [ ]:
student_df = spark.read.options(header=True, inferSchema=True).csv("./StudentData.csv")
student_df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [ ]:
# create a new Column for total marks and total marks be 120

student_df = student_df.withColumn('TotalMarks', lit(120))
student_df.show(10)

+---+------+----------------+------+-----+-----+--------------------+----------+
|age|gender|            name|course| roll|marks|               email|TotalMarks|
+---+------+----------------+------+-----+-----+--------------------+----------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|       120|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|       120|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|       120|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|       120|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|       120|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|       120|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|       120|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...|       120|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|       120|
| 29|  Male|  Cordie Harnois|   OOP|92882|   51|Judie Chipps_Clem...|       120|
+---+------+----------------+------+-----+-----+--------------------+----------+
only showing top 10 rows

In [ ]:
#  to calculate the average

from pyspark.sql.functions import round

df = student_df.withColumn('average', (student_df.marks/ student_df.TotalMarks)*100 )
student_df = df.withColumn('average', round(df.average,2))
student_df.show(10)

+---+------+----------------+------+-----+-----+--------------------+----------+-------+
|age|gender|            name|course| roll|marks|               email|TotalMarks|average|
+---+------+----------------+------+-----+-----+--------------------+----------+-------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|       120|  49.17|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|       120|  51.67|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|       120|   37.5|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|       120|  24.17|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|       120|  34.17|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|       120|  26.67|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|       120|   57.5|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...|       120|  70.83|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|       120|  53.33|
| 29|  Male|  Cordie Harnois|   OOP|92882|   51|Judie Chipps_Clem...|       120|   42.5|
+---+------+----------------+------+-----+-----+--------------------+----------+-------+
only showing top 10 rows

In [ ]:
# filter marks > 80 in OOPs course
student_df.filter((student_df.average > 80) & (student_df.course =='OOP') ).show(10)

+---+------+------------------+------+-------+-----+--------------------+----------+-------+
|age|gender|              name|course|   roll|marks|               email|TotalMarks|average|
+---+------+------------------+------+-------+-----+--------------------+----------+-------+
| 28|  Male|    Jenna Montague|   OOP|3331161|   98|Leontine Phillips...|       120|  81.67|
| 29|Female|Priscila Tavernier|   OOP|3902993|   99|Celeste Lollis_Bi...|       120|   82.5|
| 28|Female|      Judie Chipps|   OOP|5451977|   99|Tamera Blakley_Mi...|       120|   82.5|
| 29|  Male|    Margene Moores|   OOP|5621072|   97|Sheryll Towler_Ma...|       120|  80.83|
| 29|  Male|      Jc Andrepont|   OOP|8022618|   97|Cordie Harnois_Ja...|       120|  80.83|
| 28|  Male|    Loris Crossett|   OOP|8172914|   98|Paris Hutton_Pari...|       120|  81.67|
| 28|  Male|    Loris Crossett|   OOP|9692316|   99|Judie Chipps_Mich...|       120|   82.5|
+---+------+------------------+------+-------+-----+--------------------+----------+-------+

### count, distinct, dropDuplicate

In [ ]:
# count
student_df.filter(student_df.course.isin('DB', 'Cloud')).count() # this is simply counts based on filter

349

In [ ]:
# distinct
student_df.distinct().count()
student_df.filter(student_df.course == 'DB').distinct().count()  
student_df.filter(student_df.course == 'DB').count()
# both the above two will output same as every row in DF is distinct

student_df.select('gender', 'course' ).distinct().show()
# show the distinct combination

student_df.dropDuplicates(['gender', 'age']).show()
# will extract the distinct records based on the passed fields, here it will specify the compelte dataset based on Gender and Age

student_df.dropDuplicates(['age', 'gender', 'course']).count() 
# it will extract the distinct records based on age, gender, course

student_df.select(student_df.age, student_df.gender, student_df.course).distinct().count()

+------+------+
|gender|course|
+------+------+
|Female| Cloud|
|Female|   OOP|
|  Male|    PF|
|  Male|    DB|
|  Male| Cloud|
|  Male|   OOP|
|Female|   DSA|
|Female|    DB|
|  Male|   DSA|
|  Male|   MVC|
|Female|   MVC|
|Female|    PF|
+------+------+

+---+------+----------------+------+-----+-----+--------------------+----------+-------+
|age|gender|            name|course| roll|marks|               email|TotalMarks|average|
+---+------+----------------+------+-----+-----+--------------------+----------+-------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|       120|  49.17|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|       120|  51.67|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|       120|   37.5|
| 29|  Male|  Cordie Harnois|   OOP|92882|   51|Judie Chipps_Clem...|       120|   42.5|
+---+------+----------------+------+-----+-----+--------------------+----------+-------+

24

### sort and order by

In [ ]:
student_df.show(10)

+---+------+----------------+------+-----+-----+--------------------+----------+-------+
|age|gender|            name|course| roll|marks|               email|TotalMarks|average|
+---+------+----------------+------+-----+-----+--------------------+----------+-------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|       120|  49.17|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|       120|  51.67|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|       120|   37.5|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|       120|  24.17|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|       120|  34.17|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|       120|  26.67|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|       120|   57.5|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...|       120|  70.83|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|       120|  53.33|
| 29|  Male|  Cordie Harnois|   OOP|92882|   51|Judie Chipps_Clem...|       120|   42.5|
+---+------+----------------+------+-----+-----+--------------------+----------+-------+
only showing top 10 rows

In [ ]:
student_df.sort(student_df.marks.asc(), student_df.age.desc()).show(10)

+---+------+-----------------+------+-------+-----+--------------------+----------+-------+
|age|gender|             name|course|   roll|marks|               email|TotalMarks|average|
+---+------+-----------------+------+-------+-----+--------------------+----------+-------+
| 29|  Male|     Elenore Choy|    DB|3652057|   20|Jc Andrepont_Gonz...|       120|  16.67|
| 29|Female|Michelle Ruggiero|    DB|9232210|   20|Donna Yerby_Latia...|       120|  16.67|
| 29|  Male|   Jalisa Swenson|   OOP|4751515|   20|Annika Hoffman_Hu...|       120|  16.67|
| 29|Female|  Gonzalo Ferebee|   DSA|5631172|   20|Jeannetta Golden_...|       120|  16.67|
| 29|Female|   Tamera Blakley|   DSA|3911247|   20|Donna Yerby_Bonit...|       120|  16.67|
| 29|  Male|Michelle Ruggiero|    PF|6001585|   20|Paris Hutton_Marg...|       120|  16.67|
| 28|  Male|  Marylee Capasso|   DSA|2081560|   20|Sheryll Towler_Do...|       120|  16.67|
| 28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|       120|  16.67|
| 28|Female|     Jc Andrepont|    PF| 972733|   20|Eda Neathery_Eda ...|       120|  16.67|
| 29|Female|  Gonzalo Ferebee|   OOP|2262603|   21|Bonita Higuera_Ch...|       120|   17.5|
+---+------+-----------------+------+-------+-----+--------------------+----------+-------+
only showing top 10 rows

In [ ]:
# Quiz
office_df = spark.read.options(header=True, inferSchema=True).csv("./OfficeData.csv")
office_df.printSchema()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- bonus: integer (nullable = true)

In [ ]:
office_df.show(10)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [ ]:
office_df.sort(office_df.bonus.asc()).show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
+-------------+----------+-----+------+---+-----+

### Grouping and Aggregation

In [ ]:
#Note grouping we must perform some aggregation

# student_df.groupBy('age').show() # this will not work as no aggregation is performed

student_df.groupBy('age').count().show() # aggregatio based on count
student_df.groupBy('gender', 'age').count().show() # multi-level aggregation
student_df.groupBy('course').sum('marks').show()
student_df.groupBy('course').count().show()

student_df.groupby('course').max('marks').show()

+---+-----+
|age|count|
+---+-----+
| 28|  494|
| 29|  506|
+---+-----+

+------+---+-----+
|gender|age|count|
+------+---+-----+
|Female| 29|  245|
|Female| 28|  256|
|  Male| 28|  238|
|  Male| 29|  261|
+------+---+-----+

+------+----------+
|course|sum(marks)|
+------+----------+
|    PF|      9933|
|    DB|      9270|
|   MVC|      9585|
|   DSA|     10950|
| Cloud|     11443|
|   OOP|      8916|
+------+----------+

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

+------+----------+
|course|max(marks)|
+------+----------+
|    PF|        99|
|    DB|        98|
|   MVC|        99|
|   DSA|        99|
| Cloud|        99|
|   OOP|        99|
+------+----------+

In [ ]:
# about multi-level aggregation
# upto now we only did one aggregation at a time, but what about if we want multiple aggregtion at once.
# student_df.describe().show()

student_df.sort('age').groupBy('age', 'gender').count().show()
# what if we want count, min, max, sum, avg, mean etc at one go

from pyspark.sql.functions import count, min, max, sum, avg, mean

student_df.groupBy('age', 'gender').agg(count("*").alias("Total Enrollment"), sum('marks'), min('marks'), max('marks')).sort('age').show()

+---+------+-----+
|age|gender|count|
+---+------+-----+
| 28|Female|  256|
| 29|  Male|  261|
| 29|Female|  245|
| 28|  Male|  238|
+---+------+-----+

+---+------+----------------+----------+----------+----------+
|age|gender|Total Enrollment|sum(marks)|min(marks)|max(marks)|
+---+------+----------------+----------+----------+----------+
| 28|Female|             256|     15217|        20|        99|
| 28|  Male|             238|     14664|        20|        99|
| 29|  Male|             261|     15797|        20|        99|
| 29|Female|             245|     14419|        20|        99|
+---+------+----------------+----------+----------+----------+

In [6]:
student_df = spark.read.options(header=True, inferSchema=True).csv("./StudentData.csv")
student_df.show(10)
student_df.printSchema()

+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
+---+------+----------------+------+-----+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP|92882|   51|Judie Chipps_Clem...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 10 rows

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [19]:
from pyspark.sql.functions import count, sum, min, max, col

# simple group-by aggregation
student_df.groupby("course").agg(count("*")).show()

# filter aggregation
student_df.filter(student_df.marks > 80).groupBy("course").agg(count("*")).show()

# filter aggregation then again filter
#  on filter we need to specify the DF.columnName
student_df.filter(col("marks") > 80).groupBy('course').agg(count("*").alias("total_count")).filter(student_df.course =="DB").show()

# filter over count 
#  but the below one will thrrow the error as the main DF don't have any column as total_count
# student_df.filter(col("marks") > 80).groupBy('course').agg(count("*").alias("total_count")).filter(student_df.total_count > 20).show()

# so we need to specify the context column name
student_df.filter(col("marks") > 80).groupBy("course").agg(count("*").alias("total_count")).filter(col("total_count") > 20 ).show()

+------+--------+
|course|count(1)|
+------+--------+
|    PF|     166|
|    DB|     157|
|   MVC|     157|
|   DSA|     176|
| Cloud|     192|
|   OOP|     152|
+------+--------+

+------+--------+
|course|count(1)|
+------+--------+
|    PF|      41|
|    DB|      27|
|   MVC|      37|
|   DSA|      52|
| Cloud|      43|
|   OOP|      37|
+------+--------+

+------+-----------+
|course|total_count|
+------+-----------+
|    DB|         27|
+------+-----------+

+------+-----------+
|course|total_count|
+------+-----------+
|    PF|         41|
|    DB|         27|
|   MVC|         37|
|   DSA|         52|
| Cloud|         43|
|   OOP|         37|
+------+-----------+

## Quiz on Group By

In [20]:
student_df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [22]:
student_df.show(10)

+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
+---+------+----------------+------+-----+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP|92882|   51|Judie Chipps_Clem...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 10 rows

In [26]:
# total no. of students enrolled in each course
student_df.groupBy("course").count().show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

In [30]:
# total no. of male and female students enrolled in each course
student_df.groupBy("gender", "course").count().sort("gender","course").show()

+------+------+-----+
|gender|course|count|
+------+------+-----+
|Female| Cloud|  106|
|Female|    DB|   75|
|Female|   DSA|   98|
|Female|   MVC|   71|
|Female|   OOP|   82|
|Female|    PF|   69|
|  Male| Cloud|   86|
|  Male|    DB|   82|
|  Male|   DSA|   78|
|  Male|   MVC|   86|
|  Male|   OOP|   70|
|  Male|    PF|   97|
+------+------+-----+

In [32]:
#  total marks by each gender in each course
student_df.groupBy("gender", "course").sum("marks").sort("course","gender").show()

+------+------+----------+
|gender|course|sum(marks)|
+------+------+----------+
|Female| Cloud|      6316|
|  Male| Cloud|      5127|
|Female|    DB|      4197|
|  Male|    DB|      5073|
|Female|   DSA|      6124|
|  Male|   DSA|      4826|
|Female|   MVC|      4344|
|  Male|   MVC|      5241|
|Female|   OOP|      4682|
|  Male|   OOP|      4234|
|Female|    PF|      3973|
|  Male|    PF|      5960|
+------+------+----------+

In [34]:
# min, max, avg marks achieved in each course by each age group
student_df.groupBy("course", "age").agg(sum("marks"),min("marks"), max("marks")).sort("course", "age").show()

+------+---+----------+----------+----------+
|course|age|sum(marks)|min(marks)|max(marks)|
+------+---+----------+----------+----------+
| Cloud| 28|      5808|        20|        99|
| Cloud| 29|      5635|        21|        98|
|    DB| 28|      4819|        21|        98|
|    DB| 29|      4451|        20|        98|
|   DSA| 28|      5369|        20|        99|
|   DSA| 29|      5581|        20|        99|
|   MVC| 28|      4352|        23|        99|
|   MVC| 29|      5233|        22|        99|
|   OOP| 28|      4496|        23|        99|
|   OOP| 29|      4420|        20|        99|
|    PF| 28|      5037|        20|        98|
|    PF| 29|      4896|        20|        99|
+------+---+----------+----------+----------+

In [37]:
word_count = spark.read.csv("./WordData.txt")
word_count.printSchema()
word_count.show(10)
word_count.count()

word_count.describe()

root
 |-- _c0: string (nullable = true)

+------+
|   _c0|
+------+
| Apple|
|   Mic|
|   Mic|
| Apple|
|Laptop|
| Apple|
|   Mic|
|   Mic|
| Apple|
|Laptop|
+------+
only showing top 10 rows

DataFrame[summary: string, _c0: string]

In [39]:
word_count.groupBy("_c0").count().show()

+------+-----+
|   _c0|count|
+------+-----+
|   Mic|   10|
| Chair|   15|
|  Book|    5|
|Laptop|    5|
|   Bag|    5|
|Mobile|    5|
| Apple|   10|
+------+-----+