<a href="https://colab.research.google.com/github/Krishna-123/API.AI/blob/master/Spark_dataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz

!tar xzf spark-3.2.1-bin-hadoop3.2.tgz

import os
os.environ["JAVA_HOME"] = '/usr/lib/jvm/java-11-openjdk-amd64'
os.environ["SPARK_HOME"] = '/content/spark-3.2.1-bin-hadoop3.2'

! pip install findspark

import findspark as fs
fs.init()

!echo "$SPARK_HOME"

# creating configuration and context, context in the entry point and configuration are the basic configurations we need to provide
from pyspark import SparkConf, SparkContext

conf = SparkConf().setAppName("Read File")
sc = SparkContext.getOrCreate(conf)

--2022-06-08 05:42:09--  https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
Resolving dlcdn.apache.org (dlcdn.apache.org)... 151.101.2.132, 2a04:4e42::644
Connecting to dlcdn.apache.org (dlcdn.apache.org)|151.101.2.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 300971569 (287M) [application/x-gzip]
Saving to: ‘spark-3.2.1-bin-hadoop3.2.tgz’

spark-3.2.1-bin-had 100%[===================>] 287.03M   226MB/s    in 1.3s

2022-06-08 05:42:11 (226 MB/s) - ‘spark-3.2.1-bin-hadoop3.2.tgz’ saved [300971569/300971569]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1
/content/spark-3.2.1-bin-hadoop3.2

In [2]:
# spark Dataframe works with Spark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark DataFrame").getOrCreate()

In [3]:
student_df = spark.read.csv("./StudentData.csv")

In [7]:
student_df.show(10) # similar to collect
# curently we are not reading the headers
# we can do so using options("headers", true)

+---+------+----------------+------+-----+-----+--------------------+
|_c0|   _c1|             _c2|   _c3|  _c4|  _c5|                 _c6|
+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
| 28|Female| Hubert Oliveras|    DB|02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 10 rows

In [8]:
# this will show the data based on headers

student_df = spark.read.option("header", True).csv("StudentData.csv")
student_df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [9]:
student_df.printSchema() 
# will print the Schema of DF

root
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: string (nullable = true)
 |-- email: string (nullable = true)

In [5]:
student_df1 = spark.read.options(header=True, inferSchema=True).csv('./StudentData.csv')

In [11]:
student_df1.printSchema() 
# this is power of spark it automatically determine the type of fields

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [13]:
# provide our own schema
# first create schema
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([
                     StructField('age', IntegerType(), True),
                     StructField('gender', StringType(), True),
                     StructField('name', StringType(), True),
                     StructField('course', StringType(), True),
                     StructField('roll', StringType(), True),
                     StructField('marks', IntegerType(), True),
                     StructField('email', StringType(), True),
])

In [14]:
student_df_ownSchema = spark.read.options(header=True, delimeter=',').schema(schema).csv('./StudentData.csv')
student_df_ownSchema.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

### RDD to DF

In [26]:
student_rdd = sc.textFile("./StudentData.csv")
header = student_rdd.first()

student_rdd.collect()[:10]


student_rdd_new = student_rdd.map(lambda x: x.split(","))
# student_rdd_new.collect()[:10]

In [31]:
student_df = student_rdd_new.toDF()
student_df.show(10)
# here we can convert it but it has the header part which is string so it would be able to identify them correctly.
# Need to remove the header first 

student_rdd = student_rdd.filter(lambda x: x!=header)
student_rdd_new = student_rdd.map(lambda x: x.split(","))


student_df = student_rdd_new.toDF(header.split(",")) # passing headers in the parameter
student_df.show(10)

+---+------+----------------+-----+-----+---+--------------------+
| _1|    _2|              _3|   _4|   _5| _6|                  _7|
+---+------+----------------+-----+-----+---+--------------------+
| 28|Female| Hubert Oliveras|   DB|02984| 59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard|Cloud|12899| 62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|   PF|21267| 45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|   DB|32877| 29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|  DSA|41487| 41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|  MVC|52771| 32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|  OOP|61973| 69|Alberta Freund_El...|
| 28|Female|    Claude Panos|Cloud|72409| 85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|  MVC|81492| 64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|  OOP|92882| 51|Judie Chipps_Clem...|
+---+------+----------------+-----+-----+---+--------------------+
only showing top 10 rows

+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
+---+------+----------------+------+-----+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP|92882|   51|Judie Chipps_Clem...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 10 rows

In [34]:
student_df.printSchema()

root
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: string (nullable = true)
 |-- email: string (nullable = true)

In [40]:
# using createDataFrame() to pass own schema
df_rdd=  spark.createDataFrame(student_rdd_new, schema=schema)

In [44]:
df_rdd.printSchema()
# but df_rdd.show() will throw error values are in string

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [46]:
student_rdd_new.collect()[:2]

[['28',
  'Female',
  'Hubert Oliveras',
  'DB',
  '02984',
  '59',
  'Annika Hoffman_Naoma Fritts@OOP.com'],
 ['29',
  'Female',
  'Toshiko Hillyard',
  'Cloud',
  '12899',
  '62',
  'Margene Moores_Marylee Capasso@DB.com']]

In [56]:
student_rdd_new.map(lambda x: [int(x[0]),x[1],x[2],x[3],x[4],int(x[5]),x[6] ]).collect()[:10]

In [53]:
# converting the values of RDD to integer then pass it as RDD alone with schema
df_rdd1 = spark.createDataFrame(student_rdd_new.map(lambda x: [int(x[0]),x[1],x[2],x[3],x[4],int(x[5]),x[6] ]), schema)

In [54]:
df_rdd1.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [55]:
df_rdd1.show(10) # now it will work as we converted the values to int

+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
+---+------+----------------+------+-----+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP|92882|   51|Judie Chipps_Clem...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 10 rows

### DF Select Columns

In [6]:
student_df1.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [7]:
student_df1.show(10)

+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
+---+------+----------------+------+-----+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP|92882|   51|Judie Chipps_Clem...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 10 rows

In [19]:
student_df1.select("age", "gender").show(3)

student_df1.select(student_df1.age).show(3)

+---+------+
|age|gender|
+---+------+
| 28|Female|
| 29|Female|
| 28|  Male|
+---+------+
only showing top 3 rows

+---+
|age|
+---+
| 28|
| 29|
| 28|
+---+
only showing top 3 rows

In [22]:
print(student_df1.columns) # list of columns

student_df1.select(student_df1.columns).show(3)

# can also do the slicing over column list
student_df1.select(student_df1.columns[:3]).show(3) # will only return the first 3 column 

# to get all the columns
student_df1.show(3)
student_df1.select("*").show(3)

['age', 'gender', 'name', 'course', 'roll', 'marks', 'email']
+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
+---+------+----------------+------+-----+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 3 rows

+---+------+----------------+
|age|gender|            name|
+---+------+----------------+
| 28|Female| Hubert Oliveras|
| 29|Female|Toshiko Hillyard|
| 28|  Male|  Celeste Lollis|
+---+------+----------------+
only showing top 3 rows

+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
+---+------+----------------+------+-----+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 3 rows

+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
+---+------+----------------+------+-----+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 3 rows

In [24]:
#  withColumn -- to modify the types of column in dataframe

student_df1.printSchema() # let's convert roll to string

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [27]:
# withColmn allow to operate on the existing column into the df, we can add new col or even replace the existing one
student_df1.withColumn('roll_string', col=student_df1.roll.cast('string')).show(4)
student_df1.withColumn('roll_string', col=student_df1.roll.cast('string')).printSchema() # return the new column with String type

+---+------+----------------+------+-----+-----+--------------------+-----------+
|age|gender|            name|course| roll|marks|               email|roll_string|
+---+------+----------------+------+-----+-----+--------------------+-----------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|       2984|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|      12899|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|      21267|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|      32877|
+---+------+----------------+------+-----+-----+--------------------+-----------+
only showing top 4 rows

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)
 |-- roll_string: string (nullable = true)

In [28]:
#  to manipulate the df we need to use withColumn
# example add 20 in the marks column
student_df1.withColumn('updatedMarks', col=student_df1.marks + 20).show(10)

+---+------+----------------+------+-----+-----+--------------------+------------+
|age|gender|            name|course| roll|marks|               email|updatedMarks|
+---+------+----------------+------+-----+-----+--------------------+------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|          79|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|          82|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|          65|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|          49|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|          61|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|          52|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|          89|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...|         105|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|          84|
| 29|  Male|  Cordie Harnois|   OOP|92882|   51|Judie Chipps_Clem...|          71|
+---+------+----------------+------+-----+-----+--------------------+------------+
only showing top 10 rows

In [30]:
#  to add literal into a new column

from pyspark.sql.functions import lit
student_df1.withColumn("country", lit("UAS")).show(10)

+---+------+----------------+------+-----+-----+--------------------+-------+
|age|gender|            name|course| roll|marks|               email|country|
+---+------+----------------+------+-----+-----+--------------------+-------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|    UAS|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|    UAS|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|    UAS|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|    UAS|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|    UAS|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|    UAS|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|    UAS|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...|    UAS|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|    UAS|
| 29|  Male|  Cordie Harnois|   OOP|92882|   51|Judie Chipps_Clem...|    UAS|
+---+------+----------------+------+-----+-----+--------------------+-------+
only showing top 10 rows

In [34]:
student_df1.select(student_df1.name.alias('full name')).show(10)

+----------------+
|       full name|
+----------------+
| Hubert Oliveras|
|Toshiko Hillyard|
|  Celeste Lollis|
|    Elenore Choy|
|  Sheryll Towler|
|  Margene Moores|
|     Neda Briski|
|    Claude Panos|
|  Celeste Lollis|
|  Cordie Harnois|
+----------------+
only showing top 10 rows

In [39]:
# filtering the DataFrame

student_df1.filter((student_df1.course =='DSA') & (student_df1.marks >50) ).show(10)

# to pass the multiple values using isin
student_df1.filter((student_df1.course.isin(['DSA', 'Cloud']))).show(5)

+---+------+--------------+------+------+-----+--------------------+
|age|gender|          name|course|  roll|marks|               email|
+---+------+--------------+------+------+-----+--------------------+
| 28|Female|  Jc Andrepont|   DSA|232060|   58|Billi Clore_Abram...|
| 29|Female|  Paris Hutton|   DSA|271472|   99|Sheryll Towler_Al...|
| 28|Female|Dustin Feagins|   DSA|291984|   82|Abram Nagao_Kena ...|
| 29|Female|  Paris Hutton|   DSA|492159|   60|Nicole Harwood_Ma...|
| 29|  Male|Celeste Lollis|   DSA|562065|   85|Jc Andrepont_Mela...|
| 29|  Male|Maybell Duguay|   DSA|592061|   83|Eda Neathery_Jenn...|
| 28|Female|Celeste Lollis|   DSA|731879|   76|Hubert Oliveras_G...|
| 28|  Male|Sheryll Towler|   DSA|831562|   59|Kena Wild_Gonzalo...|
| 28|Female|Sheryll Towler|   DSA|871967|   64|Michelle Ruggiero...|
| 28|  Male|Margene Moores|   DSA|892010|   93|Anna Santos_Naoma...|
+---+------+--------------+------+------+-----+--------------------+
only showing top 10 rows

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 28|Female|       Kena Wild| Cloud|221750|   60|Mitzi Seldon_Jenn...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 5 rows