<a href="https://colab.research.google.com/github/Krishna-123/API.AI/blob/master/Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
!wget https://raw.githubusercontent.com/futurexskill/bigdata/master/retailstore.csv

--2022-06-05 07:00:25--  https://raw.githubusercontent.com/futurexskill/bigdata/master/retailstore.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 279 [text/plain]
Saving to: ‘retailstore.csv’

retailstore.csv     100%[===================>]     279  --.-KB/s    in 0s

2022-06-05 07:00:25 (15.6 MB/s) - ‘retailstore.csv’ saved [279/279]

In [1]:
!ls

sample_data

In [1]:
! ls /usr/lib/jvm

default-java  java-1.11.0-openjdk-amd64  java-11-openjdk-amd64

In [2]:
!wget https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz

--2022-06-07 05:35:20--  https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
Resolving dlcdn.apache.org (dlcdn.apache.org)... 151.101.2.132, 2a04:4e42::644
Connecting to dlcdn.apache.org (dlcdn.apache.org)|151.101.2.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 300971569 (287M) [application/x-gzip]
Saving to: ‘spark-3.2.1-bin-hadoop3.2.tgz’

spark-3.2.1-bin-had 100%[===================>] 287.03M   258MB/s    in 1.1s

2022-06-07 05:35:21 (258 MB/s) - ‘spark-3.2.1-bin-hadoop3.2.tgz’ saved [300971569/300971569]

In [3]:

!tar xzf spark-3.2.1-bin-hadoop3.2.tgz

In [4]:
import os
os.environ["JAVA_HOME"] = '/usr/lib/jvm/java-11-openjdk-amd64'
os.environ["SPARK_HOME"] = '/content/spark-3.2.1-bin-hadoop3.2'

In [5]:
! pip install findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [7]:
import findspark as fs
fs.init()

In [8]:
!echo "$SPARK_HOME"

/content/spark-3.2.1-bin-hadoop3.2

In [9]:
# creating configuration and context, context in the entry point and configuration are the basic configurations we need to provide
from pyspark import SparkConf, SparkContext

In [10]:
conf = SparkConf().setAppName("Read File")
sc = SparkContext.getOrCreate(conf)

In [26]:
# based on the context read the file
text = sc.textFile('/content/retailstore.csv')

In [29]:
text

/content/retailstore.csv MapPartitionsRDD[1] at textFile at NativeMethodAccessorImpl.java:0

In [30]:
text.collect()

['Age,Salary,Gender,Country,Purchased',
 '18,20000,Male,Germany,N',
 '19,22000,Female,France,N',
 '20,24000,Female,England,N',
 '21,,Male,England,N',
 '22,50000,Male,France,Y',
 '23,35000,Female,England,N',
 '24,,Male,Germany,N',
 '25,32000,Female,France,Y',
 ',35000,Male,Germany,N',
 '27,37000,Female,France,N']

In [31]:
# apply map function
text.map(lambda x: x + ' Kolkata').collect()
#  this will create a new RDD and append Kolkata in it

['Age,Salary,Gender,Country,Purchased Kolkata',
 '18,20000,Male,Germany,N Kolkata',
 '19,22000,Female,France,N Kolkata',
 '20,24000,Female,England,N Kolkata',
 '21,,Male,England,N Kolkata',
 '22,50000,Male,France,Y Kolkata',
 '23,35000,Female,England,N Kolkata',
 '24,,Male,Germany,N Kolkata',
 '25,32000,Female,France,Y Kolkata',
 ',35000,Male,Germany,N Kolkata',
 '27,37000,Female,France,N Kolkata']

In [33]:
text.map(lambda x: x.replace('Male', 'M') if ('Male' in x) else x.replace('Female', 'F') ).collect()

['Age,Salary,Gender,Country,Purchased',
 '18,20000,M,Germany,N',
 '19,22000,F,France,N',
 '20,24000,F,England,N',
 '21,,M,England,N',
 '22,50000,M,France,Y',
 '23,35000,F,England,N',
 '24,,M,Germany,N',
 '25,32000,F,France,Y',
 ',35000,M,Germany,N',
 '27,37000,F,France,N']

In [34]:
text.collect() # original will remain as it is

['Age,Salary,Gender,Country,Purchased',
 '18,20000,Male,Germany,N',
 '19,22000,Female,France,N',
 '20,24000,Female,England,N',
 '21,,Male,England,N',
 '22,50000,Male,France,Y',
 '23,35000,Female,England,N',
 '24,,Male,Germany,N',
 '25,32000,Female,France,Y',
 ',35000,Male,Germany,N',
 '27,37000,Female,France,N']

In [65]:
# question 1, create a RDD which will denote the salary after 10 years, also increase the age accrodingly
# will continue after reading more function

def increment(index, iter):
  lines = list(iter)[1:] if index==0 else list(iter)
  for l in lines:
    yield l

removedHeader_RDD = text.mapPartitionsWithIndex(increment)
removedHeader_RDD.collect()

age_RDD = removedHeader_RDD.filter(lambda x: len(x)>0).collect()

['18,20000,Male,Germany,N',
 '19,22000,Female,France,N',
 '20,24000,Female,England,N',
 '21,,Male,England,N',
 '22,50000,Male,France,Y',
 '23,35000,Female,England,N',
 '24,,Male,Germany,N',
 '25,32000,Female,France,Y',
 ',35000,Male,Germany,N',
 '27,37000,Female,France,N']

In [73]:
len('kriusha')

7

In [87]:
# question:-2
# read the entire file "question_2_file.txt" and print the count of every word

file_2 = sc.textFile("./question_2_file.txt")
file_2.collect()

# mapper function

def word_count(line):
  return [ len(word) for word in line.split(" ") ]

# file_2.map(word_count).collect()
# usign lambda
file_2.map(lambda line: [ len(word) for word in line.split(" ")] ).collect()

[[2, 0, 3, 3, 3, 1], [4, 3, 3, 5, 4], [5]]

In [93]:
# Flat Map function
file_2.collect()
print(file_2.map(lambda line: line.split(" ")).collect())
set(sorted(file_2.flatMap(lambda line: line.split(" ")).collect())) # flatMap simply flattens the result into a single level

[['hi', '', 'how', 'are', 'you', '?'], ['Hope', 'you', 'are', 'doing', 'good'], ['great']]

{'', '?', 'Hope', 'are', 'doing', 'good', 'great', 'hi', 'how', 'you'}

In [94]:
# question 3:-
# remove the words stating with letter 'a' or 'c'

file3 = sc.textFile('./question_3_file.txt')
file3.collect()

['this mango company animal',
 'cat dog ant mic laptop',
 'chair switch mobile am charger cover',
 'amanda any alarm ant']

In [98]:
file3_flat = file3.flatMap(lambda line: line.split(" "))
file3_flat.collect()

file4_filter = file3_flat.filter(lambda x: (x[0] !='a') and (x[0] != 'c')  )
file4_filter.collect()

['this', 'mango', 'dog', 'mic', 'laptop', 'switch', 'mobile']

In [4]:
! cat ./question_3_file.txt

this mango company animal,
cat dog ant mic laptop,
chair switch mobile am charger cover,
amanda any alarm ant

In [26]:
# covert each word of the above file into tuple format with Keys ('this',1) ('mango',2)

file5 = sc.textFile('./question_3_file.txt')
file5.collect()

# indexed_string = file5.flatMap(lambda x :[(item,i) for i,item in enumerate(x.split(" "))])
indexed_string = file5.flatMap(lambda x: [(item, len(item)) for item in x.split(" ") ])
indexed_string.groupByKey().mapValues(len).collect() # here len means count

[('this', 1),
 ('mango', 1),
 ('animal,', 1),
 ('cat', 1),
 ('ant', 2),
 ('chair', 1),
 ('switch', 1),
 ('mobile', 1),
 ('am', 1),
 ('company', 1),
 ('dog', 1),
 ('mic', 1),
 ('laptop,', 1),
 ('charger', 1),
 ('cover,', 1),
 ('amanda', 1),
 ('any', 1),
 ('alarm', 1)]

In [34]:
# reduceByKey() example

file5.flatMap(lambda x : [(item, len(item)) for item in x.split(" ")] ).reduceByKey(lambda x,y: x+y).collect()

file5.flatMap(lambda x : [(item, len(item)) for item in x.split(" ")] ).groupByKey().mapValues(sum).collect()

[('this', 4),
 ('mango', 5),
 ('animal,', 7),
 ('cat', 3),
 ('ant', 6),
 ('chair', 5),
 ('switch', 6),
 ('mobile', 6),
 ('am', 2),
 ('company', 7),
 ('dog', 3),
 ('mic', 3),
 ('laptop,', 7),
 ('charger', 7),
 ('cover,', 6),
 ('amanda', 6),
 ('any', 3),
 ('alarm', 5)]

In [37]:
#  to check word count using reduceByKey
#  here we need to count them as word so we need to split them as (item,1) ==> ("item", 1+1+1)

file5 = sc.textFile("./question_3_file.txt")
file5.collect()
file5.flatMap(lambda x : [(item, 1) for item in x.split() ]).reduceByKey(lambda x,y : x+y).collect()

[('this', 1),
 ('mango', 1),
 ('animal,', 1),
 ('cat', 1),
 ('ant', 2),
 ('chair', 1),
 ('switch', 1),
 ('mobile', 1),
 ('am', 1),
 ('company', 1),
 ('dog', 1),
 ('mic', 1),
 ('laptop,', 1),
 ('charger', 1),
 ('cover,', 1),
 ('amanda', 1),
 ('any', 1),
 ('alarm', 1)]

In [39]:
# count and countByValue Action
file5.collect()

['this mango company animal,',
 'cat dog ant mic laptop,',
 'chair switch mobile am charger cover,',
 'amanda any alarm ant']

In [43]:
# RDD.count() -- count the overall values present in a RDD
file5.count() # --> 4 as there is overall 4 strings

file5.flatMap(lambda x: x.split(" ")).count() # --> 19 because now we have splitted them so all of them now becomes the part of RDD

# RDD.countByValue() -- count the number of values based on values itself, i.e how many times a value occured

file5.countByValue() # it will simply count the number of keys ( or RDD values) 

file5.flatMap(lambda x: x.split(" ")).countByValue() # this will return the same result that we have experienced based on group by or Reduce by.

defaultdict(int,
            {'alarm': 1,
             'am': 1,
             'amanda': 1,
             'animal,': 1,
             'ant': 2,
             'any': 1,
             'cat': 1,
             'chair': 1,
             'charger': 1,
             'company': 1,
             'cover,': 1,
             'dog': 1,
             'laptop,': 1,
             'mango': 1,
             'mic': 1,
             'mobile': 1,
             'switch': 1,
             'this': 1})

In [45]:
# saveAsTextFile

# Reading the file
file5 = sc.textFile('./question_3_file.txt')
# Applying the transformations
transformed_rdd = file5.flatMap(lambda x: x.split(" ")).map(lambda x: (x,1))

In [46]:
# in the above statements we read the files and aply transformation over it.
# by that time spark delivers the task to its worker nodes and asked them to perform it.
# but only when we ask to collect it, or we ask for some action then only spark main_node will start collecting output from all its worker node

# applying action to save the file
transformed_rdd.saveAsTextFile("output/transformedRdd")
# it will create ./output/transformedRdd/(place all the files collected from multiple partitions)
# that's output files are in partitioned format

In [47]:
transformed_rdd.getNumPartitions() # to ge the current number of partitions

2

In [53]:
# repartitions and coalesce
file5 = sc.textFile("./question_3_file.txt")
file5.getNumPartitions() # result will be default as 2
rdd = file5.repartition(5) # transformation creates new RDD
rdd.getNumPartitions() # result will be 5

new_RDD = rdd.coalesce(1)
new_RDD.getNumPartitions() # return 1

1

In [58]:
# save into multiple partitions
# file5.repartition(5).saveAsTextFile("./output/5_partitions")

# Accumulating from multiple partitions
rdd_from_dir = sc.textFile("./output/5_partitions")
rdd_from_dir.getNumPartitions() # returns the result as 3

3

In [50]:
# Exercise :- Finding the Average

# !cat './average_quiz_sample.csv'

sample_file = sc.textFile("./average_quiz_sample.csv")
grouped_rdd = sample_file.map(lambda x: (x.split(",")[0], (float(x.split(",")[2]),1) )).reduceByKey(lambda x,y: (x[0]+y[0], x[1]+y[1]) )

grouped_rdd.map(lambda x: (x[0], x[1][0]/x[1][1]) ).collect()

[('JAN', 2.5), ('FEB', 1.25), ('MAR', 2.0)]

In [15]:
!cat './average_quiz_sample.csv'

JAN,NY,3.0
JAN,PA,1.0
JAN,NJ,2.0
JAN,CT,4.0
FEB,PA,1.0
FEB,NJ,1.0
FEB,NY,2.0
FEB,VT,1.0
MAR,NJ,2.0
MAR,NY,1.0
MAR,VT,2.0
MAR,PA,3.0

In [35]:
float('10.0')

10.0

In [11]:
#  finding Min and Max based on Movie Rating 
movies = sc.textFile("./movie_ratings.csv")
movies.collect()

['The Shawshank Redemption,3',
 'The Matrix,5',
 '12 Angry Men,3',
 '12 Angry Men,4',
 'The Matrix,5',
 'Pulp Fiction,4',
 'The Godfather,5',
 'The Shawshank Redemption,2',
 'Pulp Fiction,4',
 'The Godfather,5',
 '12 Angry Men,2',
 'The Godfather,3',
 'Pulp Fiction,4',
 '12 Angry Men,1',
 'The Shawshank Redemption,2',
 '12 Angry Men,1',
 'The Shawshank Redemption,5',
 'Pulp Fiction,5',
 'Pulp Fiction,2',
 'The Matrix,4']

In [65]:
# first we need to sum up all the movies and then extract the max values
# based on overall movie
moviesGroupedByRating = movies.map(lambda x: (x.split(",")[0], int(x.split(",")[1]) )).reduceByKey(lambda x,y: x+y)

moviesGroupedByRating.map(lambda x: (1, (x[0], x[1]) )).reduceByKey(lambda x,y: x if (x[1] > y[1]) else y).collect()

[(1, ('Pulp Fiction', 19))]

In [76]:
# max and min inside every movies
grouped_movies= movies.map(lambda x: ( x.split(",")[0], int(x.split(",")[1]) )).groupByKey()
max_rating_movies = grouped_movies.mapValues(max).collect()
min_rating_movies = grouped_movies.mapValues(min).collect()

max_rating_movies, min_rating_movies

([('The Shawshank Redemption', 5),
  ('12 Angry Men', 4),
  ('The Godfather', 5),
  ('The Matrix', 5),
  ('Pulp Fiction', 5)],
 [('The Shawshank Redemption', 2),
  ('12 Angry Men', 1),
  ('The Godfather', 3),
  ('The Matrix', 4),
  ('Pulp Fiction', 2)])

In [17]:
# revision of max and min

grouped_movies = movies.map(lambda x : (x.split(",")[0], x.split(",")[1]))
grouped_movies.groupByKey().mapValues(max).collect()
grouped_movies.groupByKey().mapValues(min).collect() 
# group by Key returns the key:list(values), so mapValues() will support all the function of list

grouped_movies.reduceByKey(lambda x,y : x if x>y else y).collect()
grouped_movies.reduceByKey(lambda x,y : x if x<y else y).collect() # on reduce we have our own freedom

[('The Shawshank Redemption', '5'),
 ('12 Angry Men', '4'),
 ('The Godfather', '5'),
 ('The Matrix', '5'),
 ('Pulp Fiction', '5')]

In [26]:
# find max and min on city dataset
cities = sc.textFile("./average_quiz_sample.csv")
cities.collect()

grouped_cities = cities.map(lambda x: (x.split(",")[1], (x.split(",")[0], float(x.split(",")[2])) ))
max_rated_cities = grouped_cities.reduceByKey(lambda x,y: x if (x[1] > y[1]) else y).collect()
min_rated_cities = grouped_cities.reduceByKey(lambda x,y: x if (x[1] < y[1]) else y).collect()

max_rated_cities, min_rated_cities

([('NY', ('JAN', 3.0)),
  ('CT', ('JAN', 4.0)),
  ('PA', ('MAR', 3.0)),
  ('NJ', ('MAR', 2.0)),
  ('VT', ('MAR', 2.0))],
 [('NY', ('MAR', 1.0)),
  ('CT', ('JAN', 4.0)),
  ('PA', ('FEB', 1.0)),
  ('NJ', ('FEB', 1.0)),
  ('VT', ('FEB', 1.0))])

In [20]:
cities.map(lambda x: x.split(",") ).collect()

[['JAN', 'NY', '3.0'],
 ['JAN', 'PA', '1.0'],
 ['JAN', 'NJ', '2.0'],
 ['JAN', 'CT', '4.0'],
 ['FEB', 'PA', '1.0'],
 ['FEB', 'NJ', '1.0'],
 ['FEB', 'NY', '2.0'],
 ['FEB', 'VT', '1.0'],
 ['MAR', 'NJ', '2.0'],
 ['MAR', 'NY', '1.0'],
 ['MAR', 'VT', '2.0'],
 ['MAR', 'PA', '3.0']]

In [49]:
# Mini Project 
# Analyse Student Data

student_data = sc.textFile("./StudentData.csv")

In [42]:
# count the number of students in the file
student_data.count()

1001

In [58]:
# total marks group by gender

# first remove header

header = student_data.first()
studentMappedData = student_data.filter(lambda x: x != header)
studentMappedData.first()

'28,Female,Hubert Oliveras,DB,02984,59,Annika Hoffman_Naoma Fritts@OOP.com'

In [59]:
header

'age,gender,name,course,roll,marks,email'

In [61]:
totalMarks_gender = studentMappedData.map(lambda x: ( x.split(",")[1], int(x.split(",")[-2])  )).reduceByKey(lambda x,y: x+y)
totalMarks_gender.collect()

[('Female', 29636), ('Male', 30461)]

In [64]:
# number of students scored > 50
studentMappedData.filter(lambda x: (int(x.split(",")[-2]) > 50 ) ).count()

630

In [66]:
# total number of students group by course
studentEnrolledCourse_countBy =  studentMappedData.map(lambda x: x.split(",")[3]).countByValue()

# using reduce ByKey
studentEnrolledCourse_reduce = studentMappedData.map(lambda x: (x.split(",")[3], 1)).reduceByKey(lambda x,y: x+y).collect()
studentEnrolledCourse_countBy, studentEnrolledCourse_reduce

(defaultdict(int,
             {'Cloud': 192,
              'DB': 157,
              'DSA': 176,
              'MVC': 157,
              'OOP': 152,
              'PF': 166}),
 [('DB', 157),
  ('Cloud', 192),
  ('PF', 166),
  ('MVC', 157),
  ('OOP', 152),
  ('DSA', 176)])

In [72]:
#  total marks group by course
studentMappedData.map(lambda x: (x.split(",")[3], int(x.split(",")[-2])) ).reduceByKey(lambda x,y: x + y ).collect()

[('DB', 9270),
 ('Cloud', 11443),
 ('PF', 9933),
 ('MVC', 9585),
 ('OOP', 8916),
 ('DSA', 10950)]

In [87]:
# Average marks students have achieved per course
totalMarksPerCourse_totalStudents =  studentMappedData.map(lambda x: (x.split(",")[3], (int(x.split(",")[-2]), 1) )).reduceByKey(lambda x,y: (x[0]+y[0], x[1]+y[1]) )
AverageMarksPerCourse = totalMarksPerCourse_totalStudents.map(lambda x: (x[0], round(x[1][0]/x[1][1], 2) ))

# we can also perform the same Activity using mapValues() as it only takes the values of the grouped keys ( sum of Marks, number of students) ==> (sumOfMarks/NumberOfStudents)

AverageMarksPerCourse.collect()

[('DB', 59.04),
 ('Cloud', 59.6),
 ('PF', 59.84),
 ('MVC', 61.05),
 ('OOP', 58.66),
 ('DSA', 62.22)]

In [92]:
# min and max Marks Per course
minMarksPerCourse = studentMappedData.map(lambda x: (x.split(",")[3], ( x.split(",")[2], int(x.split(",")[-2]) ) )).reduceByKey(lambda x,y: x if (x[1] < y[1]) else y).collect()

minMarksPerCourse

maxMarksPerCourse = studentMappedData.map(lambda x: (x.split(",")[3], ( x.split(",")[2], int(x.split(",")[-2]) )  )).reduceByKey(lambda x,y: x if (x[1] > y[1] ) else y ).collect()
minMarksPerCourse, maxMarksPerCourse

([('DB', ('Michelle Ruggiero', 20)),
  ('Cloud', ('Maybell Duguay', 20)),
  ('PF', ('Michelle Ruggiero', 20)),
  ('MVC', ('Maybell Duguay', 22)),
  ('OOP', ('Jalisa Swenson', 20)),
  ('DSA', ('Gonzalo Ferebee', 20))],
 [('DB', ('Dustin Feagins', 98)),
  ('Cloud', ('Melani Engberg', 99)),
  ('PF', ('Eda Neathery', 99)),
  ('MVC', ('Gonzalo Ferebee', 99)),
  ('OOP', ('Loris Crossett', 99)),
  ('DSA', ('Alberta Freund', 99))])

In [96]:
# show the avg age of Male and Female students
# i.e age group by gender

studentsGroupedGender = studentMappedData.map(lambda x: (x.split(",")[1], (int(x.split(",")[0]), 1) )).reduceByKey(lambda x,y: (x[0]+y[0], x[1]+y[1]) )
# calcualte the Avg Age now
studentsGroupedGender.map(lambda x: (x[0], round(x[1][0]/x[1][1], 2) )).collect()

[('Female', 28.49), ('Male', 28.52)]