<a href="https://colab.research.google.com/github/Krishna-123/API.AI/blob/master/Spark_dataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!wget https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz

!tar xzf spark-3.2.1-bin-hadoop3.2.tgz

import os
os.environ["JAVA_HOME"] = '/usr/lib/jvm/java-11-openjdk-amd64'
os.environ["SPARK_HOME"] = '/content/spark-3.2.1-bin-hadoop3.2'

! pip install findspark

import findspark as fs
fs.init()

!echo "$SPARK_HOME"

# creating configuration and context, context in the entry point and configuration are the basic configurations we need to provide
from pyspark import SparkConf, SparkContext

conf = SparkConf().setAppName("Read File")
sc = SparkContext.getOrCreate(conf)

--2022-06-07 10:50:51--  https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
Resolving dlcdn.apache.org (dlcdn.apache.org)... 151.101.2.132, 2a04:4e42::644
Connecting to dlcdn.apache.org (dlcdn.apache.org)|151.101.2.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 300971569 (287M) [application/x-gzip]
Saving to: ‘spark-3.2.1-bin-hadoop3.2.tgz’

spark-3.2.1-bin-had 100%[===================>] 287.03M   195MB/s    in 1.5s

2022-06-07 10:50:53 (195 MB/s) - ‘spark-3.2.1-bin-hadoop3.2.tgz’ saved [300971569/300971569]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1
/content/spark-3.2.1-bin-hadoop3.2

In [3]:
# spark Dataframe works with Spark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark DataFrame").getOrCreate()

In [6]:
student_df = spark.read.csv("./StudentData.csv")

In [7]:
student_df.show(10) # similar to collect
# curently we are not reading the headers
# we can do so using options("headers", true)

+---+------+----------------+------+-----+-----+--------------------+
|_c0|   _c1|             _c2|   _c3|  _c4|  _c5|                 _c6|
+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
| 28|Female| Hubert Oliveras|    DB|02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|81492|   64|Nicole Harwood_Cl...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 10 rows

In [8]:
# this will show the data based on headers

student_df = spark.read.option("header", True).csv("StudentData.csv")
student_df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [9]:
student_df.printSchema() 
# will print the Schema of DF

root
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: string (nullable = true)
 |-- email: string (nullable = true)

In [10]:
student_df1 = spark.read.options(header=True, inferSchema=True).csv('./StudentData.csv')

In [11]:
student_df1.printSchema() 
# this is power of spark it automatically determine the type of fields

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [13]:
# provide our own schema
# first create schema
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([
                     StructField('age', IntegerType(), True),
                     StructField('gender', StringType(), True),
                     StructField('name', StringType(), True),
                     StructField('course', StringType(), True),
                     StructField('roll', StringType(), True),
                     StructField('marks', IntegerType(), True),
                     StructField('email', StringType(), True),
])

In [14]:
student_df_ownSchema = spark.read.options(header=True, delimeter=',').schema(schema).csv('./StudentData.csv')
student_df_ownSchema.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)